@page "/"

<PageTitle>Facilitate Platform Management</PageTitle>

<h1>Facilitate Platform Management</h1>

Welcome to Facilitate Platform Management.

This is where we make things happen for homeowners.
