@page "/"

<PageTitle>Welcome to Facilitate Platform Administration</PageTitle>

<h1>Platform Admin</h1>

<img src="images/Backgrounds/Contractors.webp" alt="Facilitate Platform Admin" style="width: 100%; height: auto;" />
<br /><br />
<h2>
    Where we make things happen for homeowners.
</h2>

<br /><br />
Here is where we will plugin some stats graphs once I get to this point...
<br /><br />
In progress...