@page "/"

<PageTitle>Welcome to Facilitate Platform Administration</PageTitle>

<h1>Platform Admin</h1>

This is where we make things happen for homeowners.
<br /><br />
Here is where we will plugin some stats graphs once I get to this point...
<br /><br />
In progress...