@page "/opportunities"
@rendermode InteractiveServer

<PageTitle>Opportunities</PageTitle>

<h1>Opportunities</h1>

In progress...

@* <p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button> *@

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}