@page "/"

@using UploadExample.Data;

@inject NavigationManager NavigationManager
@inject TestModelService _testModelService
@inject FileUrlStorageService _fileUrlStorageService

<h3>Index</h3>

@code {

}
