@using Facilitate.Admin.Data;
@using Facilitate.Libraries.Models;

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.AspNetCore.WebUtilities

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web

@using MongoDB.Bson;

@using System.Text.Json;

@using DevExpress.Blazor;
@using DevExpress.Data;
@using DevExpress.Data.Linq;

@inherits LayoutComponentBase
@layout AccountLayout

@inject NavigationManager NavigationManager
@inject IHttpClientFactory ClientFactory
@inject HttpClient httpClient

@inject IdentityRedirectManager RedirectManager

@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager

@inject IEmailSender<ApplicationUser> EmailSender
@inject RoleManager<IdentityRole> roleManager

@inject AuthenticationStateProvider GetAuthenticationStateAsync

<h1>Manage your account</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>

@code{

}