@page "/"
<PageTitle>Welcome to Facilitate Platform Administration</PageTitle>

<div class="welcome">
    <DxGridLayout CssClass="welcome-gridlayout" RowSpacing="3rem">
        <Rows>
            <DxGridLayoutRow Height="auto" Areas="header"></DxGridLayoutRow>
            <DxGridLayoutRow Height="auto" Areas="cards"></DxGridLayoutRow>
        </Rows>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="welcome-title">
                <Template>
                    <div class="welcome-title-header">Platform Admin</div>
                    <div class="welcome-title-content">
                        <img src="images/Backgrounds/Contractors.webp" alt="Facilitate Platform Admin" style="width: 100%; height: auto;" />
                        <br /><br />
                        Where we make things happen for homeowners.
                        <br /><br />
                        Here is where we will plugin some stats graphs once I get to this point...
                        <br /><br />
                        In progress...
                    </div>
                </Template>
            </DxGridLayoutItem>
@*             <DxGridLayoutItem Area="cards" CssClass="welcome-cards">
                <Template>
                    <NavLink class="welcome-card" href="/counter">
                        <svg class="welcome-card-img" alt="counter card">
                            <use href="images/cards.svg#counter"></use>
                        </svg>
                        <div class="welcome-card-text">Counter</div>
                        <div class="welcome-card-back"></div>
                    </NavLink>
                    <NavLink class="welcome-card" href="/weather">
                        <svg class="welcome-card-img" alt="weather card">
                            <use href="images/cards.svg#weather"></use>
                        </svg>
                        <div class="welcome-card-text">Weather</div>
                        <div class="welcome-card-back"></div>
                    </NavLink>
                </Template>
            </DxGridLayoutItem> *@
        </Items>
    </DxGridLayout>
</div>