@page "/leads"

@using AdminBlazor.Data
@using Facilitate.Libraries.Models;

@attribute [StreamRendering(true)]
@rendermode InteractiveServer
@inject QuoteService QuoteService

<PageTitle>Leads</PageTitle>
<h1>Leads</h1>

@if (quotes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DxGrid Data="@quotes" CssClass="mw-1100">
        <Columns>
            <DxGridDataColumn Caption="Date" FieldName="timestamp" />
            <DxGridDataColumn Caption="First" FieldName="firstName" />
            <DxGridDataColumn Caption="Last" FieldName="lastName" />
            <DxGridDataColumn Caption="Email" FieldName="email" />
            <DxGridDataColumn Caption="Phone" FieldName="phone" />
            <DxGridDataColumn Caption="Street" FieldName="street" />
            <DxGridDataColumn Caption="City" FieldName="city" />
            <DxGridDataColumn Caption="State" FieldName="state" />
            <DxGridDataColumn Caption="Zip" FieldName="zip" />
        </Columns>
    </DxGrid>
}

@code {

    private IEnumerable<Quote>? quotes;

    protected override async Task OnInitializedAsync()
    {
        quotes = QuoteService.GetQuotes();
    }
}