<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img class="logo-header" src="/images/NewLogos/White Transparent - Small.png" alt="Facilitate.org Logo" /></a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                @* <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> *@ Platform Admin
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="quotes">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 1. Leads
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="opportunities">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 2. Opportunities
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 3. Customers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="archives">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> 4. Archives
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="http://api.facilitate.org/swagger/index.html" target="_blank">
                Webservices
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="https://facilitate.org" target="_blank">
                Visit Facilitate.org
            </a>
        </div>

@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> (Counter Test)
            </NavLink>
        </div> *@

@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@
    </nav>
</div>

