@page "/"

@using Facilitate.Admin.Data;
@using Facilitate.Libraries.Models;

@using MongoDB.Bson;
@* @using Json.Net; *@

@using System.Text.Json;

@using DevExpress.Blazor;
@using DevExpress.Data;
@using DevExpress.Data.Linq;

@attribute [StreamRendering(true)]
@rendermode InteractiveServer
@inject WebServices WebServices

@inject NavigationManager NavigationManager
@inject IHttpClientFactory ClientFactory
@inject HttpClient httpClient

@inject NavigationManager navMan

<PageTitle>Welcome to Facilitate Platform Administration</PageTitle>

<h3>Welcome to Facilitate's Platform Administration</h3>

@* <img src="/images/backgrounds/contractors bg - youtube.jpg" class="homepage-contractor" /> *@

<div class="row">
    <div class="col-md-4">
        <img src="/images/backgrounds/contractors bg - youtube.jpg" class="homepage-contractor" />
    </div>
</div>

<AuthorizeView>
    <Authorized></Authorized>
    <NotAuthorized>
        @*         @{
        navMan.NavigateTo("/Account/Login");
        } *@
        
        <div class="row">
            <div class="col-md-4 system-warning">
                You must be logged in to access this system
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {

    public QuoteLeaderboard leaderboardStats;

    protected override void OnInitialized()
    {
        leaderboardStats = WebServices.GetLeaderBoardStats();
    }

}