@page "/"

@using Facilitate.Admin.Data;
@using Facilitate.Libraries.Models;

@using MongoDB.Bson;
@* @using Json.Net; *@

@using System.Text.Json;

@using DevExpress.Blazor;
@using DevExpress.Data;
@using DevExpress.Data.Linq;

@attribute [StreamRendering(true)]

@inject WebServices WebServices

@inject NavigationManager navMan

<PageTitle>Welcome to Facilitate Platform Administration</PageTitle>

<h3>Facilitate Platform Administration</h3>

<div class="row">
    <div class="col-md-auto">
        <img src="/images/backgrounds/Dawn Thumb.jpg" class="homepage-image-main" />
    </div>
</div>

@* <AuthorizeView>
    <Authorized>
        @{
            navMan.NavigateTo("/Quotes/Opportunities");
        }
    </Authorized>
    <NotAuthorized>
        @{
            navMan.NavigateTo("/Account/Login");
        }
    </NotAuthorized>
</AuthorizeView> *@

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    public QuoteLeaderboard LeaderboardStats;

    protected override void OnInitialized()
    {
        LeaderboardStats = WebServices.GetLeaderboardStats();
    }

}