@page "/"

@using Facilitate.Admin.Data;
@using Facilitate.Libraries.Models;

@using MongoDB.Bson;
@* @using Json.Net; *@

@using System.Text.Json;

@using DevExpress.Blazor;
@using DevExpress.Data;
@using DevExpress.Data.Linq;

@attribute [StreamRendering(true)]
@rendermode InteractiveServer
@inject WebServices WebServices

@inject NavigationManager NavigationManager
@inject IHttpClientFactory ClientFactory
@inject HttpClient httpClient

@inject NavigationManager navMan

<PageTitle>Welcome to Facilitate Platform Administration</PageTitle>

<AuthorizeView>
    <Authorized></Authorized>
    <NotAuthorized>
        @{
            navMan.NavigateTo("/Account/Login");
        }
    </NotAuthorized>
</AuthorizeView>

<h3>Welcome to Facilitate's Platform Administration</h3>

@* <img src="/images/backgrounds/contractors bg - youtube.jpg" class="homepage-contractor" /> *@

@code {

    public QuoteLeaderboard leaderboardStats;

    protected override void OnInitialized()
    {
        leaderboardStats = WebServices.GetLeaderBoardStats();
    }

}