@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Facilitate's Platform Administration</h1>

<div class="quotes-leaderboard">
    <span class="summary-item">
        <span class="stat-count"><b>0 Quotes</b></span>
        <span class="stat-count">0</span>
        <span class="stat-count"><span class="value-sqft-separator">&raquo;</span>0sqft</span>
    </span>
    <span class="summary-item">
        <a href="/quotes/leads">Leads</a>
        <span class="stat-count"><b>0</b></span>
        <span class="stat-count">0</span>
    </span>
    <span class="summary-item">
        <a href="/quotes/opportunities">Opportunities</a>
        <span class="stat-count"><b>0</b></span>
        <span class="stat-count">0</span>
    </span>
    <span class="summary-item">
        <a href="/quotes/customers">Customers</a>
        <span class="stat-count"><b>0</b></span>
        <span class="stat-count">0</span>
    </span>
    <span class="summary-item">
        <a href="/quotes/completed">Completions</a>
        <span class="stat-count"><b>0</b></span>
        <span class="stat-count">0</span>
    </span>
    <span class="summary-item">
        <a href="/quotes/warranties">Warranties</a>
        <span class="stat-count"><b>0</b></span>
        <span class="stat-count">0</span>
    </span>
    <span class="summary-item">
        <a href="/quotes/archives">Archives</a>
        <span class="stat-count"><b>0</b></span>
        <span class="stat-count">0</span>
    </span>
</div>