@import url('open.iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
}

table {
    width: 100% !important;
}

.value-sqft-separator {
    border: solid 0px #ff0000 !important;
    padding-left: 5px !important;
    padding-right: 10px !important;
    position: relative !important;
    top: -2px !important;
}

.stats-container-header {
    border: solid 0px #ff0000 !important;
    float: right !important;
    color: #808080;
    font-size: 0.7em;
    padding: 75px;
    padding-top: 35px;
}

.quotes-leaderboard {
    background-color: #eee !important;
    border: solid 0px #808080 !important;
    padding: 15px;
    font-size: 0.9em;
    margin-bottom: 25px !important;
    text-align: center !important;
}

.stat-count {
    border-right: solid 0px #dad7d7 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    font-weight: normal;
    font-style: normal;
    color: #808080;
}

.btn-warning {
    background-color: #b10505 !important;
    color: #ffffff !important;
}

.make-warranty-claim-button {
    border-bottom: solid 0px #ff0000 !important;
    text-align: center !important;
    padding: 25px !important;
}

.row {
    border: solid 0px #ff0000 !important;
    margin-top: 5px !important;
}

.item-details-container {
    border-bottom: dashed 1px #c0c0c0 !important;
    margin-bottom: 10px !important;
    padding-bottom: 10px !important;
}

.product-container {
    border: solid 0px #ff0000 !important;
    padding: 15px;
}

.tabs-container {
    border: solid 1px #c0c0c0 !important;
/*    padding: 25px !important;*/
}

.dxbl-tabs-content {
    background-color: #ffffff !important;
    border-top: solid 1px #c0c0c0 !important;
    height: 300px !important;
    overflow: auto !important;
    padding: 25px !important;
    padding-top: 35px !important;
}

.dxuc-button-container {
    border: solid 0px #ff0000 !important;
    position: relative !important;
    top: 5px !important;
    left: -15px !important;
}

.dxbl-grid-table tr:hover {
    cursor: pointer !important;
    /*    background-color: #d3b1fa !important;*/
}

.dxbl-grid-selected-row,
.dxbl-grid-selected-row:hover {
    background-color: #543678 !important;
    color: #ffffff !important;
}

td {
    padding: 5px;
    padding-left: 10px;
    /*    border: solid 1px #ff0000 !important;*/
}

.td-send-label {
    border: solid 0px #ff0000 !important;
    width: 250px !important;
    vertical-align: top !important;
    padding-top: 25px !important;
}

.td-send-button {
    border: solid 0px #ff0000 !important;
}

.project-container {
    border: solid 0px #dad7d7 !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    padding: 10px !important;
}

.project-detail-work-panel {
    border-top: solid 0px #ff0000 !important;
    margin-top: 5px !important;
    padding: 0px !important;
}

.table-spacer {
    border-top: solid 1px #c0c0c0 !important;
    border-collapse: collapse !important;
    margin-top: 25px !important;
    padding-top: 25px !important;
    width: 100% !important;
}

.icon-help {
    border: solid 0px #ff0000 !important;
    width: 20px !important;
    position: relative !important;
    top: -2px !important;
    left: 5px !important;
}

.icon-help:hover {
    cursor: pointer;
}

h4 {
    color: #dad7d7 !important;
    font-size: 1.3em !important;
    font-weight: bold !important;
}

.hyperlink {
    color: #b10505 !important;
    text-decoration: underline !important;
}

.hyperlink:hover {
    cursor: pointer !important;
}

.link-help-info {
    border: solid 0px #ff0000 !important;
    color: #808080 !important;
    font-style: italic !important;
    font-size: 1.0em !important;
}

.table-button-container {
/*    border-bottom: solid 1px #dad7d7 !important;*/
    text-align: center !important;
    vertical-align: top !important;
    padding: 20px !important;
    width: 150px !important;
    min-width: 150px !important;
    max-width: 150px !important;
}

.doc-select-button {
    border: solid 0px #ff0000 !important;
    padding: 8px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    position: relative !important;
    top: 10px !important;
    left: 0px !important;
    width: 100px !important;
    min-width: 100px !important;
    max-width: 100px !important;
}

.add-item-button {
    border: solid 0px #ff0000 !important;
    margin-bottom: 25px !important;
}

.dxuc-select-button {
    border: solid 0px #ff0000 !important;
    padding: 8px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    position: relative !important;
    top: -5px !important;
    left: 15px !important;
    width: 100px !important;
    min-width: 100px !important;
    max-width: 100px !important;
}

.document-label-container {
    border: solid 0px #ff0000 !important;
    position: relative !important;
    top: -5px !important;
    margin-right: 15px !important;
}

.dashed-spacer {
    border: dashed 0px #ff0000 !important;
}

.bar-spacer {
    border: solid 0px #ff0000 !important;
    color: #dad7d7 !important;
    margin: 5px !important;
}

.notes-table {
    border: solid 1px #dad7d7 !important;
    border-radius: 5px !important;
    background-color: #ffff00 !important;
    padding: 35px !important;
}

.dxbl-grid-detail-cell {
    border: solid 1px #c0c0c0 !important;
    background-color: #eee !important;
}

.dxbl-grid-detail-cell:hover {
    cursor: default !important;
}

.item-detail-container {
    background-color: #fff !important;
    border: solid 1px #c0c0c0 !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    max-height: 390px !important;
    overflow: auto !important;
    padding: 25px !important;
    position: relative !important;
    top: 15px !important;
    box-shadow: 2px 2px #c0c0c0 !important;
}

.note-row {
/*    background-color: #fff !important;*/
    border-bottom: dashed 1px #c0c0c0 !important;
    padding: 10px !important;
}

.detail-colum {
    border: dashed 0px #ff0000 !important;
    margin-top: 25px !important;
    padding-top: 25px !important;
}

.event-history-container {
    border-bottom: solid 0px #dad7d7 !important;
    width: 100% !important;
    margin-bottom: 25px !important;
    padding-bottom: 25px !important;
}

.event-date {
    border: solid 0px #ff0000 !important;
    width: 15% !important;
    min-width: 15% !important;
    max-width: 15% !important;
    text-align: right !important;
    font-style: italic;
}

.event-details {
    border: solid 1px #ff0000 !important;
}

.author {
    font-size: 1.1em !important;
    text-decoration: line-through;
    color: #dad7d7 !important;
}

.dxbl-grid-expand-button
{
    border: solid 1px #ff0000 !important;
    visibility: hidden !important;
}

label {
    font-weight: normal;
    font-style: italic;
    color: #808080 !important;
    margin-right: 5px;
}

label:after {
    content: '' !important;
}

h6 {
    border-bottom: dashed 0px #808080 !important;
    font-size: 1.3em;
    font-weight: normal;
    font-style: normal;
    color: #808080 !important;
    margin-bottom: 0px !important;
}

.quote-detail-controls-container {
    position: relative !important;
    padding: 50px !important;
    text-align: center !important;
    border: solid 0px #ff0000 !important;
}

.dxbl-scroll-viewer {
/*    border: solid 1px #ff0000 !important;*/
    background-color: #ffffff !important;
}

.dxbl-scroll-viewer tr:hover {
/*    border: solid 1px #ff0000 !important;*/
/*    background-color: #f7f6f6 !important;
    cursor: pointer;*/
}

.quote-details-panel {
    width: auto !important;
}

.quote-detail-container {
    border: solid 0px #eee !important;
}

.detail-item {
    border-right: solid 0px #eee !important;
    margin-right: 25px !important;
    font-weight: normal !important;
}

.btn-primary:disabled {
    border: solid 1px #dad7d7 !important;
    background-color: #dad7d7 !important;
}

.container-action-buttons-show {
    text-align: center !important;
    visibility: visible !important;
    padding-top: 50px !important;
}

.container-action-buttons-hide {
    text-align: center !important;
    visibility: hidden !important;
}

.message-normal {
    color: #000000 !important;
}

.message-warning {
    color: #b10505 !important;
}

#update-status {
    padding-bottom: 15px !important;
    font-size: 1.0em;
}

.btn-refresh-active {
    background-color: #b10505 !important;
    color: #fff !important;
    margin-right: 25px !important;
}

.btn-refresh-inactive {
    background-color: #045e20 !important;
    color: #fff !important;
    margin-right: 25px !important;
}

/*.dxbl-text-edit-input {
    border: solid 1px #808080 !important;
    background-color: #fff !important;
}*/

.dxbl-text-edit-input:focus {
    background-color: #fff !important;
}

.summary-item {
    width: 200px !important;
    min-width: 200px !important;
    max-width: 200px !important;
    margin-right: 25px !important;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.button-link {
    text-decoration: unset;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
